.Wrapper {
  display: flex;
  flex-direction: row;
}

.Controller {
  width: 240px;
  transition: box-shadow ease-in-out .1s,transform ease-in-out .1s;
  border-right: 1px solid #d6d9dc;
  padding: 60px;
}

.Result {
  color: green;
  margin-left: 140px;
  margin-top: 60px;
  width: 500px;
  height: 50px;
  border: 1px solid #a2a4a7;
  padding: 20px;
  text-align: center;
}

.Button {
  width: 200px;
  margin-bottom: 30px;
  height: 30px;
  border-radius: 5px;
  padding: 3px;
  color: #0C0D0E;
  background-color: aliceblue;
  cursor: pointer;
}

.Button:hover {
  background-color: cornflowerblue;
  color: white;
}